.social_icons{
    color: #207a6a;
    font-size: 2.3rem;
    /* margin: 0 4px; */
}
.social_icons:hover{
    color: #fff;
}
.mentor_img{
    width : 25.6rem;
    /* height: 288px; */
}
/* .gallery-item img{
    width : 100%;
    height: inherit;
} */
.calendre_scroll{
    width: 70%;
}
.scroller::-webkit-scrollbar {
    display: none;
  }
.item{
    border-top: 1px solid black;
    padding: 26px 56px 0 0px;
    margin: 0 11px;

}
.item{
    position: relative;
    z-index: 1;
}
.point-up{
    position: absolute;
    top: -15px;
    z-index: 1;
    left: -15px;


}
.item span {
    font-weight: bold;
}
.start_div{
    margin-right: 221px;
}
.clr{
    background-color: #EFF2F2;
    width: max-content;
    padding-bottom: 100px;
}
.arrow_left{
    position: absolute;
    top: -10px;
    left: 140px;
    z-index: 3;
}
.arrow_right{
    position: absolute;
    top: -10px;
    right: 130px;
    z-index: 3;
}
.about_calender{
    position: relative;
}
.social img{
    width: 31px;
}
/* .mentor_main--card-item{
    min-height: 36rem;
} */
@media only screen and (max-width: 600px) {
    .arrow_left {
      left: 30px;
    }
    .arrow_right{
        right: 30px;
    }
    .about{
        margin : 3rem 0;
    }
    .about_main--detail-show .show_item{
        width: 11rem;
    }
    .hover-shadow {
        width: 80% !important;
    }
    .testimonial{
        margin: -5rem 0;
    }
  }