.footer{
    min-height: 30rem;
    background-color: #26423D;
    // border: 1px solid red;

    &_main{
        // border: 1px solid red;

        &--head{
            display: flex;
            justify-content: space-between;
            align-items: start;

            .logo{
                // width: 15rem;
                margin-bottom: .7rem;
            }

            h3{
                color: #5A6361;
               }


            .f-sec-1{
                width: 33%;
            }

            .f-sec-2{
                width: 20%;
            }
           

            &-sec{
                padding: 1rem;
                margin: 1rem;
                // width: 32%;


             
                

                .head{
                    // border: 1px solid red;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding-bottom: 1.5rem;
                    border-bottom: 1px solid #444D4B;
                    height: 7rem;


                    
        
                    .head_icons{
        
                        .social_icons{
                            color: #207a6a;
                            font-size: 2.3rem;
                            padding-left: .5rem;

                        }
                    }
                }

                .bottom{
                    margin-top: 1.7rem;
                    color:  #A4AAA9;

                    p{
                        margin-top: 1rem;
                    }

                    li{
                        list-style-type: none;

                        a{
                            text-decoration: none;
                            color:  #A4AAA9;
                            
                        }
                    }

                    
                }
            }
            
        }

        &--bottom{
            display:  flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #444D4B;
            padding: .9rem 0rem;
            font-size: 1.5rem;
            color: #5A6361;

            a{
                text-decoration: none;
                color: #5A6361;
            }

            span{
                margin: 0rem 1rem;
            }
        }
    }
}



@media only screen and (max-width: 700px){

    .footer{
        // border: 1px solid red;
    
        &_main{
           width: 100%;
    
            &--head{
                flex-direction: column;
                align-items: center;
                // justify-content: center;

                .logo{
                    width: 13rem;
                    margin-bottom: 1rem;
                }
    
    
                .f-sec-1{
                    width: 100%;
                }
    
                .f-sec-2{
                    width: 100%;
                }
               
    
                &-sec{
    

                    .head{
                        // border: 1px solid red;
                        
            
                        .head_icons{
            
                            .social_icons{
                                color: #207a6a;
                                font-size: 2.3rem;

                            }
                        }
                    }
    
                    // .bottom{
    
                    //     p{
                            
                    //     }
    
                    //     li{
                            
    
                    //         a{
                                
                                
                    //         }
                    //     }
    
                        
                    // }
                }
                
            }

            &--bottom{

                flex-direction: column;
            }
        }
    }


}